@import '../../scss/var.scss';

.wk-header--container {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  z-index: 100;

  &.show-bg {
    background: rgba(255, 255, 255, .95);
    box-shadow: 0 1px 40px -8px rgba(0, 0, 0, .5);
  }

  &:hover {
    background: #fff;
  }

  .logo {
    width: 250px;
    height: 100%;
    background-image: url('../../images/logo.png');
    background-position: center;
    background-size: cover;
  }

  .wk-header-menus {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 50%;
    width: 980px;
    height: 100%;
    transform: translateX(-50%);
    animation: show-menu ease-in-out .5s;
    
    &--item {
      position: relative;
      display: flex;
      align-items: center;
      height: 100%;
      margin-right: 30px;
      color: #666;
      font-size: 16px;

      &:hover {
        color: $primaryColor;
        cursor: pointer;

        &::after {
          max-width: 100%;
 
        }
      }

      &::after {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        max-width: 0;
        height: 6px;
        background: $primaryColor;
        content: '';
        transition: max-width ease-in-out .3s;
      }

      .iconfont {
        margin-right: 5px;
      }
    }
  }

  .scroll-progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    background: $primaryColor;
    transition: all ease-in-out .3s;
  }
}

@keyframes show-menu {
  from {
    opacity: 0;
    transform: translateX(-48%);
  }
  to {
    opacity: 1;
    transform: translateX(-50%);
  }
}